.navbar-default {
  background-color: #026e50 !important;
  border-color: #026e50 !important;
}
.navbar-default .navbar-brand {
  color: white !important;
}
.navbar-default .navbar-nav>li>a{
  color: white !important;
}

@media (min-width: 768px){
.navbar {
  border-radius: 0px !important;
 }
}
.btn-primary {
    color: #fff;
    background-color: #026e50 !important;
    border-color: #026e50 !important;
}
